.sideDrawer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    position: fixed;
    height: 100vh;
    z-index: 200;
    background-color: darkslategrey;
    box-shadow: 1px 0px 7px rgba($color: #000000, $alpha: 0.5);
    width: 70%;
    max-width: 400px;

    top: 0;
    left: 0;
    background: rgb(190, 37, 37);
    overflow: hidden;

    transform: translateX(-100%);
    transition: transform 0.2s ease-out;
}

.sideDrawer.open {
    transform: translateX(0);
    transition: transform 0.2s ease-out;
}

.link {
    margin-left: 3rem;
    color: white;
}