.contact-form {
    display: flex;
    flex-direction: column;

    width: 100%;
}

input[type="text" i] {
    padding: 4px 4px;
    margin: 0.5em;
    border: none;

    border-radius: 6px;
}

input[type="textarea" i] {
    padding: 4px 4px;
    margin: 0.5em;
    border-radius: 6px;
    border: none;

    outline: none;
    resize: none;
    overflow: auto;
}

input[type="submit" i] {
    padding: 4px 4px;
    margin: 0.5em auto;
    border-radius: 6px;
    border: none;
    background: transparent;

    box-shadow: 0 0 2px #000;
    width: 5rem;
}

input[type="submit" i]:hover {
    cursor: pointer;
}

.form-wrapper {
    width: 100%;
    padding: 2rem;
    background: linear-gradient(#408ef3, #19abd8);

    border-radius: 6px;
}

.comments {
    padding: 4px 4px;
    margin: 0.5em;
    border-radius: 6px;
    outline: none;
    resize: none;
    overflow: auto;
}

