.menu-main {
    height: 100%;
    width: 100%;
    background:  rgba(0, 0, 0, 0.75);
    color: white;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    position: relative;

    overflow: auto;
    overflow-x: hidden;
}

.body {
    background: white;
}

hr {
    height: 1px;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    align-self: center;
}
.row {
    display: flex;
    flex-direction: row;
}

.drink-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.subtitle-1 {
    color: var(--primary-color-1);
    font-weight: bold;

    margin-top: 1rem;
}

.no-margin {
    margin-top: 0;
}

.price {
    background: darkslategrey;
    align-self: flex-end;
    color: white;
    border: 1px solid darkslategrey;
    white-space: nowrap;
    width: auto;
}
.item-description {
    color: grey;
    white-space: pre-wrap;
}
.item-name {
    width: auto;
    white-space: nowrap;
    color: white;
}
.menu-outer {
    background: white;
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    display: flex;
    justify-content: center;
    position: relative;
}

.menu-outer::before {
    background-image: url(../../images/food/breakfast.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    content: "";
}

.specials-menu-outer::before {
    background-image: url(../../images/food/lunch-burger.png);
}

.dinner-menu-outer::before {
    background-image: url(../../images/food/steak-dinner.jpg);
}
.happy-menu-outer::before {
    background-image: url(../../images/food/happy-hour.jpg);
}

@media only screen and (min-width: 600px) {
    .menu-main {
        padding: 4rem;
        display: flex;
        flex-direction: column;
        width: 60vw;
    }
    .drink-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .price {
        background: darkslategrey;
        align-self: flex-end;
        color: white;
        border: 1px solid darkslategrey;
        white-space: nowrap;
        width: auto;
    }
    .item-description {
        color: grey;
    }
    .item-name {
        width: auto;
        white-space: nowrap;
        color: white;
    }
    .menu-outer {
        padding: 4rem;
    }
}