.sports {
    width: 100vw;
    height: 50vh;
    background: black;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

@media only screen and (min-width: 600px) {
    .sports {
        width: 50vw;
    }
}
a {
    margin: 1rem;
}
.UFC {
    height: 4rem;
    width: 6rem;

    background-image: url('../../images/logo/UFC-Logo.png');
    background-position: center;
    background-size: cover;
}

.NHL {
    height: 6rem;
    width: 6rem;

    background-image: url('../../images/logo/NHL-Logo.png');
    background-position: center;
    background-size: cover;
}
.NBA {
    height: 6rem;
    width: 6rem;

    background-image: url('../../images/logo/NBA-Logo.png');
    background-position: center;
    background-size: cover;
}
.MLB {
    height: 6rem;
    width: 4rem;

    background-image: url('../../images/logo/MLB-Logo.png');
    background-position: center;
    background-size: cover;
}
.Timbers {
    height: 6rem;
    width: 4rem;

    background-image: url('../../images/logo/Timbers-Logo.png');
    background-position: center;
    background-size: cover;
}
.Blazers {
    height: 6rem;
    width: 4rem;

    background-image: url('../../images/logo/Blazers-Logo.png');
    background-position: center;
    background-size: cover;
}
