.logoComponent {
    position: absolute;
    margin-left: auto;
    height: 100%;
    width: 100%;
    background: url('../../images/logo/StadiumsLogo3.png') no-repeat;
    background-position: center;
    background-size: 100%;
    z-index: 1;
    top: -20vh;
}

.subtitle {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 1;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 2em;
    color: rgb(142,24,27);
    top: 25vh;
}

@media (min-width: 1000px) {
    .logoComponent {
        background-size: 100%;
        top: -5vh;
    }
    .subtitle {
        top: 30vh;
        font-size: 2.5em;
    }
}

@media (orientation: landscape) {
    .logoComponent {
        background-size: 80%;
        top: -5vh;
    }
}

