.navButtonComponent {
    width: 1.5rem;
    height: 2rem;
    position: absolute;
    z-index: 1;
    background-color: transparent;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.navButtonComponent::after {
    content: 'menu';
    color: white;
    position: absolute;
    left: 2rem;
    z-index: 1000;
}
.navButtonComponent:hover {
    cursor: pointer;
}

.navButton-line {
    width: 100%;
    height: 2px;
    background-color: white;
}