.foodMenu {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom right, black, rgb(25, 25, 35));
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.menu {
    height: 98vh;
    min-width: 40vw;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: red;
    align-items: center;
}

.specials {
    background-image: url(../../images/stadiums-menu-pg1.jpg);
}

.lunch {
    background-image: url(../../images/stadiums-menu-regular.jpg);
}

.breakfast {
    background-image: url(../../images/stadiums-menu-regular.jpg);
}

.standard {
    background-image: url(../../images/stadiums-menu-regular.jpg);
}