.landing-page-div {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow: hidden;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
}

.landing-layout {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 600px) {
    .landing-layout {
        flex-direction: row;
    }
    .link-button:hover {
        cursor: pointer;
    }
}

.link-button {
    display: block;
    height: 3rem;
    width: 3rem;
    z-index: 1000;
    background-image: url(../../images/icons/down-arrow.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--primary-color-1);
    position: absolute;
    top: 75vh;
    left: calc(50vw - 1.5rem);
}

.link-containter {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.section {
    scroll-snap-align: center;
}